spring.application.name: FoodDelivery

spring:
  datasource:
    url: jdbc:h2:./database;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: root
    password: root
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update